{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui vertical padded segment">
        <div class="ui container">
            <h1 class="ui header">
                Welcome to {{ company.name }} API
                <div class="sub header">
                    Your application is now ready.
                </div>
            </h1>
        </div>

    </div>
    <div class="ui vertical stripe segment">
        <div class="ui container">

        </div>
    </div>
{% endblock %}

